## Lists and Tuples Practice

Extend the following list lst1 to the given tuple tup1. Print the tuple.

lst1 = [1,2,3,4,5] 

tup1 = ("one","two","three","four","five")

Hint:  Are tuples mutable? 

One more hint: Are you printing a tuple or a list?

In [1]:
lst1 = [1,2,3,4,5]
lst2 = tuple(lst1)

tup1 = ("one","two","three","four","five")
tup3 = tup1 + lst2
print(tup3)

('one', 'two', 'three', 'four', 'five', 1, 2, 3, 4, 5)

## Strings Practice

Using a string method, write a script to convert the following string to a list where each word is located in its own index. Print the list.

Example:

string = "Turn this into a list."

Output:  ['Turn', 'this', 'into', 'a', 'list.']

NOTE: This answer can be hardcoded to just copy and paste the above output into a print function. The point of this challenge is to avoid hardcoding and use the string method to achieve the output.

In [ ]:
string = "Turn this into a list."
split_string = string.split()
print(split_string)

Write a script using string formatting to take the given variables and use them in the following formatted sentence:

A username could be: __ with the password: __   

NOTE: the underlines should be filled in with the values found in username and password

In [ ]:
username = 'cyber.student'
password = 'WillThisEverEnd?'
print("A username could be:",username,"with the password:",password)

Change the 3rd index of the given list li to the letter 't'. Then use a string method to convert it into a single string and print it.

NOTE: You can solve this challenge by hardcoding and just using print('Feet'). You will not be doing yourself any favors by doing this. Please use the string method.

In [ ]:
li = ["F","e","e","d"]
#4th index
li.insert(3,"t")
li.pop(4)
y = str(li)
string3 = "".join(li)
print(string3)

Replace the letter a, with b. Count how many b's are in the string.
string: "abbbabbbaaaabaabaababcabababaaabaababcabababbabbbcaabababacbababababababababababa"

In [ ]:
stringz = "abbbabbbaaaabaabaababcabababaaabaababcabababbabbbcaabababacbababababababababababa"
stringx = (stringz.replace("a","b"))
print(stringx.count("b"))

## Input/Output Practice
Write a script to accept the user input for two numbers saved into the variables num1 and num2.

Then add the numbers stored in num1 and num2 together and print the output.

Example:

if num1 collects the string 5 and num2 collects the string 5, then the integer 10 should be printed.

NOTE: Do NOT include a string prompt inside your input function - leave the parenthesis blank

In [ ]:
num1 = int(input())
num2 = int(input())
num3 = (num1 + num2)
print(num3)

Write a script to accept the user input for a name. Using string formatting, add the name to the following string and print it:
"Welcome to Python, _________"

NOTE: Do NOT include a string message inside your input function

In [ ]:
x = input()
print("Welcome to Python,",x)

## Py2 End of Lecture - CTF Challenges

Use python to produce code below that will create several named variables with the specified value:

| Variable | Value | Type |
|:--:|:--:|:--:|
| hello | "hello" | string|
| is_python_awesome | True |boolean |
| days_in_python | 6 | integer|
| pie_size | 3.14 |float |

After creating all variables and assigning their value, print each variable on a separate line

In [ ]:
#enter code here
hello = "hello"
is_python_awesome = True
days_in_python = int(6)
pie_size = float(3.14)
print(hello)
print(is_python_awesome)
print(days_in_python)
print(pie_size)

Use Python code to create the following variables. Those variables will be assigned the Starting Value as seen in the table below. 

After assigning each Variable with a Starting Value, use Python Built-in Functions to perform the conversion designated in the Convert to Type column.

|Variable|Starting Value|Convert to Type|
|:--:|:--:|:--:|
|int_input| "345"| integer|
|pi_4|"3.1415"|float|
|hours_str|40| string|
|hourly_rate|15|float|


After assigning all variables and performing the conversion functions, print each variable on separate lines in the order they appear in the table.

In [ ]:
int_input = "345"
pi_4 = "3.1415"
hours_str = 40
hourly_rate = 15
int_input= int(int_input)
pi_4 = float(pi_4)
hours_str = str(hours_str)
hourly_rate = float(hourly_rate)
print(int_input)
print(pi_4)
print(hours_str)
print(hourly_rate)

Use python to produce code below that will create several named variables with the specified value using math operators:

|Variable| 	Value| 	Type|
|:--:|:--:|:--|
|x| 16| integer|
|y| 3| 	integer|
|xysum| sum of x and y| integer|
|xydiff| difference of x and y| integer|
|xyprod| product of x and y| integer|
|xyquo| quotient of x and y| 	float|
|xyintquo| 	integer quotient of x and y| 	integer|
|xymod| modulus of x and y| 	integer|

After assigning all variables and performing the assigned math operations print each variable on a separate line in the order they appear in the table.

In [ ]:
x = (16)
y = (3)
xysum = int(x + y)
xydiff = int(x - y)
xyprod = int(x * y)
xyquo = float(x/y)
xyintquo = int(x//y)
xymod = int(x%y)
print(xysum)
print(xydiff)
print(xyprod)
print(xyquo)
print(xyintquo)
print(xymod)

Use python to produce code below that will create several named variables that read a value (or collect input) from a user.

output should use string formatting to access the values used in name, greeting, and time

After creating all variables print output.

Example 1:

|Variable| 	Example Input Value| 	Type|
|:--:|:--:|:--:|
|name| 	Jerry| 	str|
|greeting| 	Sir| 	str|
|time| 	noon| 	str|
|output| 	Hello Jerry! Sir, will you be arriving by noon?| 	str|

Example 2:
|Variable| 	Example Input Value| 	Type|
|:--:|:--:|:--:|
|name| 	Karen| 	str|
|greeting| 	Madam| 	str|
|time| 	midnight| 	str|
|output| 	Hello Karen! Madam, will you be arriving by midnight?| 	str|

In [ ]:
name = input()
greeting = input()
time = input()
output1 = ("Hello")
output2 = f'{name}!'
output3 = f'{greeting},'
output4 = f'{time}?'
print(output1,output2,output3,"will you be arriving by",output4)

Use python to produce code below that will perform the following:

    Create a variable named user_input that will read multiple numbers separated by spaces on the same line from the user.
        An example input may be:1 2 3 4
    Update user_input to change all spaces to a plus sign.
    Print the resulting string stored in user_input to the user.

In [ ]:
user_input = (input())
output = user_input.replace(" ","+") 
print(output)

Use python to produce code below that will:

    Given an email address in email
    Split the email into a list named lst
    The list will contain all individual parts of the email
    Example: email = 'alan.m.turing@genius.com' -> lst = ['alan','m','turing', 'genius', 'com']

In [ ]:
email = 'alan.m.turing@genius.com'
email3 = email.replace("@",".") 
lst = email3.split(".")
print(lst)

## Python Practice Quiz 1

Define a function named q1 that takes one parameter floatstr, which is a comma separated string of floats,  and return a list with each of the floats in the argument as elements in the list.

Example:

q1('1.2,5.4,9.8,5.7')

Returns:  [1.2, 5.4, 9.8, 5.7]

In [ ]:
#First Define a function that take a parameter floatstr which is a comma seperated string of floats


def q1 (floatstr):
    y = [] # Empty List
    floatstr = floatstr.split(",") #Split on the comma
    for item in floatstr:
        x = (float(item))
        y.append(x)
    return y

q1('1.2,5.4,9.8,5.7')

#Return a list with each of the floats in a argument as ellements in the list.

Complete the function q2 which takes one parameter (a list of integers) and returns the average of all the arguments as a float.

Example: 

q2([3,4,9,10,5,80,9])

Returns: 17.142857142857142

In [ ]:
def q2(args):
    return sum(args)/len(args)

q2([3,4,9,10,5,80,9])

Complete the function q3 which takes two parameters: a list (lst) and a number of items (n),  and returns a new list containing the last n entries in lst.

Example: 

q3(['one','two','three','four'],2)
 
Returns: ['three', 'four']

In [ ]:
def q3(lst,n):
    return (lst[-n:])

q3(['one','two','three','four'],2)

Complete the function q4 which takes one parameter (a string) and return a list containing the ordinal numbers of each character in the string in the order found in the parameter string.

Example:

q4('hello')

Returns: [104, 101, 108, 108, 111]

In [ ]:
def q4(strng):
    lst = []
    for item in strng:
        #print(ord(item))
        lst.append((ord(item)))
    return lst
#Need to call function to have it run in this instance q4

q4('hello')

[104, 101, 108, 108, 111]

Complete the function q5 which takes one parameter (a string) and return a tuple with each element in the tuple containing a single word from the parameter string in order.

Example:

q5('this is a test')

Returns: ('this', 'is', 'a', 'test')

In [ ]:
def q5(strng):
    lst = []
    tup = ()
    strng = strng.split()
    tup = tuple(strng)
    return tup

Complete the function q6 which takes two parameters: a dictionary (catalog) whose keys are product names and values are product prices per unit and a list of tuples (order) of product names and quantities, computes and returns the total value of the order.

Using this catalog:

catalog = {'AMD Ryzen 5 5600X': 289.99,'Intel Core i9-9900K': 363.50,'AMD Ryzen 9 5900X': 569.99}

And this order:

order = [('AMD Ryzen 5 5600X', 5), ('Intel Core i9-9900K', 3)]

Example:

q6(catalog, order)

Returns: 2540.45

How the above result was computed:

(289.99 * 5) + (363.50 * 3)

In [28]:
catalog = {'AMD Ryzen 5 5600X': 289.99,'Intel Core i9-9900K': 363.50,'AMD Ryzen 9 5900X': 569.99}
order = [('AMD Ryzen 5 5600X', 5), ('Intel Core i9-9900K', 3)]

def q6(catalog, order):
    dict_1 = {}
    total = 0
    dict_1 = dict(order)
    print(dict_1)
    for item in dict_1:
        print(item)
        if item in dict_1:
            print(item)
            total += (dict_1[item]) * (catalog[item])
    return total

catalog = {'AMD Ryzen 5 5600X': 289.99,'Intel Core i9-9900K': 363.50,'AMD Ryzen 9 5900X': 569.99}
order = [('AMD Ryzen 5 5600X', 5), ('Intel Core i9-9900K', 3)]

q6(catalog, order)
#""" menu = {'fries': 0.99, 'water': 8.99, 'waffles': 4.99, 'tequila': 5.00}
#order = {'whopper':5, 'water': 5, 'fries': 55}
# get a grand total cost of the order

#total = 0
#for item in order:                                                      # want to go through each of the ordered items
                                                                        # need to see if each item ordered is in the menu.
    #if item in menu:                                                    # if the item is in the menu you add to the total
        #total += (order[item]) * (menu[item])                           # you can compare if a specific value is in a dictionary by using in

#print(f'${total}') """

{'AMD Ryzen 5 5600X': 5, 'Intel Core i9-9900K': 3}
AMD Ryzen 5 5600X
AMD Ryzen 5 5600X
Intel Core i9-9900K
Intel Core i9-9900K

2540.45

Complete the function q7 which takes one parameter: a string representing a filename (filename), opens the file and returns the length of the first line in the file excluding the line terminator. Use file1.txt as a test case.

Example: 

q7('file1.txt')

Returns: 65

In [ ]:
def q7(filename):
    with open(filename) as file_obj:
        file_content = file_obj.read
        x = (file_obj.readline())
        y = x.strip()
        return (len(y))

Complete the function q8 which takes two parameters: a filename and a list: lst, writes each entry from the list to the file on separate lines until a case-insensitive entry of "stop" is found in the list. If "stop" is not found in the list, write the entire list to the file on separate lines. Each time the function executes, it overwrites the file.

In [2]:
def q8(filename, lst):
    with open(filename, 'w') as file_obj:  # Open file in write mode
        for item in lst:
            # Check if the item is "stop" (case-insensitive)
            if item.lower() == "stop":
                break
            else:
                file_obj.write(item + "\n")  # Write each item followed by a newline

# Example usage
q8('output.txt', ['apple', 'banana', 'stop', 'grape'])

Complete the function q9 which takes one parameter: an integer (miltime) representing military time and returns a string containing the greeting of the day.

    0300-1159 "Good Morning"
    1200-1559 "Good Afternoon"
    1600-2059 "Good Evening"
    2100-0259 "Good Night"

NOTE: the actual time 0305 would be entered as 305 into the function

Example:

q9(305)

Returns: Good Morning

In [3]:
def q9(miltime):
    # Check the time and return the appropriate greeting
    if 300 <= miltime <= 1159:
        return "Good Morning"
    elif 1200 <= miltime <= 1559:
        return "Good Afternoon"
    elif 1600 <= miltime <= 2059:
        return "Good Evening"
    else:
        return "Good Night"

# Example usage
print(q9(305))  # Returns: "Good Morning"

Good Morning

Complete the function q10 which takes one parameter: numlist (a list of numbers) and returns True if all numbers in the list are NOT negative. If any numbers in the list are negative, return False.

Example:

q10([1,2,3,4,5,6])

Returns: True

Example 2:

q10([1,2,3,4,-5,6,7])

Returns: False

In [4]:
def q10(numlist):
    # Check if any number in the list is negative
    for num in numlist:
        if num < 0:
            return False  # Return False if a negative number is found
    return True  # Return True if no negative numbers are found

# Example usage
print(q10([1, 2, 3, 4, 5, 6]))  # Returns: True
print(q10([1, 2, 3, 4, -5, 6, 7]))  # Returns: False

True
False

## Python Practice Quiz 2

Complete the function q1 which takes one parameter: a string of multiple words separated by single spaces and print a new string with the sentence reversed. The words themselves should remain as they are.

For example, given 'it is accepted as a masterpiece on strategy', the printed string should be 'strategy on masterpiece a as accepted is it'.

In [ ]:
def q1(sentence):
    # Split the sentence into a list of words
    words = sentence.split()
    
    # Reverse the list of words
    reversed_words = words[::-1]
    
    # Join the reversed list of words back into a string and print it
    print(" ".join(reversed_words))

# Example usage
q1('it is accepted as a masterpiece on strategy')
# Output: 'strategy on masterpiece a as accepted is it'

Complete the function q2 which takes one parameter: a postive integer and print its string representiation with commas seperating groups of 3 digits. For example, given 65535 the printed string should be '65,535'

In [5]:
def q2(n):
    # Convert the number to a string
    num_str = str(n)
    
    # Initialize an empty result string
    result = ""
    
    # Start counting digits from the right
    count = 0
    
    # Loop through the number string from right to left
    for i in range(len(num_str) - 1, -1, -1):
        result = num_str[i] + result  # Add the current digit to the result
        
        count += 1
        
        # After every 3 digits, add a comma (but not at the start of the number)
        if count == 3 and i != 0:
            result = "," + result
            count = 0  # Reset the counter
    
    # Print the result with commas
    print(result)

# Example usage
q2(65535)  # Output: '65,535'
q2(123456789)  # Output: '123,456,789'
q2(1000)  # Output: '1,000'

65,535
123,456,789
1,000

In [ ]:
#Alternate:
def q2(n):
    # Convert the integer to a string
    n_str = str(n)
    
    # Initialize an empty list to hold the result
    result = []
    
    # Start from the end of the string and process in chunks of 3 digits
    while len(n_str) > 3:
        # Add the last 3 digits to the result
        result.insert(0, n_str[-3:])
        # Remove the last 3 digits from the string
        n_str = n_str[:-3]
    
    # Add the remaining part of the string (less than or equal to 3 digits)
    result.insert(0, n_str)
    
    # Join the parts with commas and print the result
    print(",".join(result))

# Example usage
q2(65535)  # Output: '65,535'
q2(123456789)  # Output: '123,456,789'
q2(1000)  # Output: '1,000'

Complete the function q3 which takes two parameters: two lists of integers and print a sorted list that contains all integers from both lists in descending order.

For example, given [3,4,9] and [8,1,5] the returned list should be [9,8,5,4,3,1]. The printed list may contain duplicates.

In [ ]:
def q3(lst0, lst1):
    # Combine both lists
    combined_list = lst0 + lst1
    
    # Sort the combined list in descending order
    combined_list.sort(reverse=True)
    
    # Print the sorted list
    print(combined_list)

# Example usage
q3([3, 4, 9], [8, 1, 5])  # Output: [9, 8, 5, 4, 3, 1]

Complete the function q4 which takes three parameters representing 3 scores and print 'GO' if the average score is greater than 50. Otherwise print 'NOGO'.

In [ ]:
def q4(s1, s2, s3):
    # Calculate the average score
    average_score = (s1 + s2 + s3) / 3
    
    # Check if the average score is greater than 50
    if average_score > 50:
        print("GO")
    else:
        print("NOGO")

# Example usage
q4(60, 55, 40)  # Output: "GO"
q4(30, 40, 50)  # Output: "NOGO"

Complete the function q5 which takes two parameters: integer and limit, and print a list of multiples of the integer up to and including the limit.

For example, if integer = 3 and limit = 30, the printed list should be [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]. Note, 0 is a multiple of any integer except 0 itself.

In [ ]:
def q5(integer, limit):
    # Create an empty list to store the multiples
    multiples = []
    
    # Loop through numbers from 0 to the limit
    for i in range(0, limit + 1, integer):
        multiples.append(i)
    
    # Print the list of multiples
    print(multiples)

# Example usage
q5(3, 30)  # Output: [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
q5(5, 25)  # Output: [0, 5, 10, 15, 20, 25]

In [ ]:
#Alternate
def q5(integer, limit):
    # Create a list of multiples of 'integer' up to 'limit' (inclusive)
    multiples = [i for i in range(0, limit+1, integer)]
    
    # Print the list of multiples
    print(multiples)

# Example usage
q5(3, 30)  # Output: [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

Complete the function q6 which takes two parameters (representing two filenames) and return a list whose elements consist of line numbers for which the two files differ. The first line is considered line 0.

For example, using the following files: test1.txt and test2.txt should return [2, 4]

In [ ]:
def q6(file1, file2):
    # Open both files
    with open(file1, 'r') as f1, open(file2, 'r') as f2:
        lines1 = f1.readlines()  # Read all lines from the first file
        lines2 = f2.readlines()  # Read all lines from the second file

    # Create a list to hold the line numbers where the files differ
    differing_lines = []

    # Iterate through the lines and compare
    for i in range(min(len(lines1), len(lines2))):
        if lines1[i] != lines2[i]:
            differing_lines.append(i)
    
    # Handle case where one file is longer than the other
    if len(lines1) != len(lines2):
        longer_file = lines1 if len(lines1) > len(lines2) else lines2
        differing_lines.extend(range(len(longer_file[len(lines2):])))

    return differing_lines

# Example usage
print(q6("test1.txt", "test2.txt"))  # Output: [2, 4]

In [ ]:
#Alternate
def q6(file1, file2):
    # Initialize a list to store the line numbers where the files differ
    differing_lines = []

    # Open both files and compare them line by line
    with open(file1, 'r') as f1, open(file2, 'r') as f2:
        # Read lines from both files
        lines1 = f1.readlines()
        lines2 = f2.readlines()

        # Loop through the lines and compare them
        for i in range(min(len(lines1), len(lines2))):
            if lines1[i] != lines2[i]:
                differing_lines.append(i)  # Add the line number if they differ

        # If file1 is longer, add the remaining line numbers
        for i in range(len(lines1), len(lines2)):
            differing_lines.append(i)

        # If file2 is longer, add the remaining line numbers
        for i in range(len(lines2), len(lines1)):
            differing_lines.append(i)

    return differing_lines

# Example usage:
# Replace 'test1.txt' and 'test2.txt' with the actual filenames when running this code
#print(q6('test1.txt', 'test2.txt'))

Complete the function q7 which takes one parameter (a list), iterates through the given list, and returns the first duplicate value you come across.

For example, if given [5,7,9,1,3,7,9,5], the returned value should be 7.

In [ ]:
def q7(lst):
    # Create an empty set to track elements we have seen
    seen = set()
    
    # Iterate through the list
    for num in lst:
        if num in seen:
            # Return the first duplicate we find
            return num
        seen.add(num)  # Add the number to the set if it's not a duplicate
    
    # If no duplicates are found, return None
    return None

# Example usage:
print(q7([5, 7, 9, 1, 3, 7, 9, 5]))  # Output: 7
print(q7([1, 2, 3, 4]))  # Output: None (no duplicates)

In [ ]:
#Alternate
def q7(lst):
    # Create an empty set to track the elements we've seen
    seen = set()
    
    # Iterate through the list
    for item in lst:
        # If the item is already in the seen set, it is a duplicate
        if item in seen:
            return item  # Return the first duplicate
        # If the item is not a duplicate, add it to the seen set
        seen.add(item)
    
    # If no duplicate is found, return None (or you could raise an error)
    return None

# Example usage:
print(q7([5, 7, 9, 1, 3, 7, 9, 5]))  # Output: 7

Complete the function q8 which takes one parameter: a string representing a sentence with words being separated by a single space, and return the length of the shortest word. There is no punctuation in the sentence.

Example:

strng = "What is the length of the shortest word in this sentence"

In [ ]:
def q8(strng):
    # Split the sentence into a list of words
    words = strng.split()
    
    # Find the length of the shortest word
    shortest_word_length = min(len(word) for word in words)
    
    return shortest_word_length

# Example usage:
print(q8("What is the length of the shortest word in this sentence"))  # Output: 2

In [ ]:
def q8(strng):
    # Split the sentence into a list of words
    words = strng.split()
    
    # Find the length of the shortest word by using the min function with the length of each word
    shortest_word_length = min(len(word) for word in words)
    
    # Return the length of the shortest word
    return shortest_word_length

# Example usage:
print(q8("What is the length of the shortest word in this sentence"))  # Output: 2

Complete the function q9 which takes one parameter (an alphanumeric string), and return the character whose ascii value is that of the integer representation of all of the digits in the string concatenated in the order in which they appear.

For example, given 'hell9oworld7', the returned character should be 'a' which has the ascii value of 97.

In [ ]:
def q9(strng):
    # Extract all digits from the string
    digits = ''.join([char for char in strng if char.isdigit()])
    
    # Convert the concatenated digits to an integer
    ascii_value = int(digits)
    
    # Return the character corresponding to the ASCII value
    return chr(ascii_value)

# Example usage:
print(q9("hell9oworld7"))  # Output: 'a' (ASCII value 97)

Complete the function q10 which takes one parameter (a list of positive integers sorted in ascending order), and return the first non-consecutive value. If all values are consecutive, return 'All are sequential'.

For example, given [1,2,3,4,6,7], the returned value should be 6.

In [ ]:
def q10(arr):
    # Iterate through the list starting from the second element
    for i in range(1, len(arr)):
        # Check if the current element is not consecutive to the previous one
        if arr[i] != arr[i-1] + 1:
            return arr[i]  # Return the first non-consecutive number
    
    # If all numbers are consecutive, return this message
    return "All are sequential"

# Example usage:
print(q10([1, 2, 3, 4, 6, 7]))  # Output: 6
print(q10([1, 2, 3, 4, 5]))  # Output: "All are sequential"